[Desktop Entry]
Name=Установщик Uzbek Linux
Comment=Установщик Uzbek Linux
Exec=/usr/local/bin/uzinstall
Icon=/usr/local/bin/uzinstaller/2705.png
Terminal=false
Type=Application
Categories=System;Installer;
StartupNotify=true
X-No-PkExec=true
